*.class
target/
*.log
*.lof
*.aux
*.gz
*.lot
*.out
*.bbl
*.blg
*.toc
*.fdb_latexmk
*.fls
*.bib.bak
thesis.pdf
.classpath
.project
.settings
.DS_Store
target/
+.~lock.*
+~$*
obj/
bin/
deploy/
*.csproj.user
*.resharper.user
*.resharper
*.suo
*.cache